body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8ede3;
  color: #c5705d;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin-top: 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 50px;
  background-color: #f8ede3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.nav a {
  color: #c5705d;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav a:hover {
  color: #f8ede3;
  background-color: #c5705d;
  border-radius: 5px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 50px;
}

.about img {
  width: 300px;
  border-radius: 50%;
  margin-right: 20px;
}

.about p {
  text-align: justify;
  line-height: 1.5;
}

#skill {
  margin-top: -30px;
  text-align: center;
}

#skill h2 {
  margin-bottom: 20px;
}

#skill h4 {
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
}

footer {
  color: #c5705d;
}
