* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #001219;
  color: #fed9b7;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* padding: 3rem;  */
}

.logo {
  font-family: "Montserrat", sans-serif;
  color: #fed9b7;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

.logo p:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 8%;
  padding: 1rem 3rem;
  position: fixed;
  margin-top: 0.625rem;
  top: 0;
  z-index: 999;
  border-radius: 0.9375rem;
  background-color: #264653;
  color: #fed9b7;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.nav .mode {
  cursor: pointer;
  user-select: none;
}

.nav a {
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  color: #fed9b7;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-weight: bold;
}

.nav a:hover {
  color: #f07167;
  background-color: #264653;
  border-radius: 0.3125rem;
}

.me {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6.25rem;
  text-align: center;
  padding: 3rem;
}

.me-text {
  margin-top: 2rem;
}

.me p {
  font-size: 3rem;
  color: #fed9b7;
  margin: 0;
  font-weight: bold;
}

.me h2 {
  font-size: 2rem;
  color: #f07167;
  margin: 0;
  font-weight: bold;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5rem;
  padding: 1.25rem;
}

#forImage {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 50%;
  margin-left: 6.25rem;
  background-color: #00afb9;
  background-size: cover;
  background-position: center;
  background-image: url(image/me.jpg);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* Updated from 0px 2px 4px */
}

#bioImage {
  width: 18.75rem; /* Updated from 300px to 18.75rem */
  height: 18.75rem; /* Updated from 300px to 18.75rem */
  border-radius: 50%;
  margin-left: 6.25rem; /* Updated from 100px to 6.25rem */
  background-color: #00afb9;
  background-size: cover;
  background-position: center;
  background-image: url(image/code.jpg);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* Updated from 0px 2px 4px */
}

.about p {
  text-align: justify;
  line-height: 1.6;
  font-size: 1.15rem;
  color: #fed9b7;
  width: 60%;
  max-width: 50rem; /* Updated from 800px to 50rem */
  padding: 0 1.25rem; /* Updated from 20px to 1.25rem */
}

.biography p {
  text-align: justify;
  line-height: 1.6;
  font-size: 1.15rem;
  color: #fed9b7;
  width: 100%;
  max-width: 50rem; /* Updated from 800px to 50rem */
  padding: 0 1.25rem; /* Updated from 20px to 1.25rem */
}

.biography {
  padding: 3rem; /* Updated from 50px to 3rem */
  color: #fed9b7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.625rem; /* Updated from 10px to 0.625rem */
  margin-top: 3rem; /* Updated from 50px to 3rem */
}

.bio-content {
  max-width: 50rem; /* Updated from 800px to 50rem */
  width: 60%;
}

.biography h2 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem; /* Updated from 20px to 1.25rem */
  color: #f07167;
  font-weight: bold;
}

.intrest {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 50rem; /* Updated from 800px to 50rem */
  padding: 1.25rem; /* Updated from 20px to 1.25rem */
  background-color: #264653;
  border-radius: 0.3125rem; /* Updated from 5px to 0.3125rem */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* Updated from 0px 2px 4px */
}

.intrest h5 {
  margin: 0.625rem; /* Updated from 10px to 0.625rem */
  padding: 0.625rem 1.25rem; /* Updated from 10px 20px to 0.625rem 1.25rem */
  border-radius: 0.3125rem; /* Updated from 5px to 0.3125rem */
  font-weight: bold;
  text-align: center;
  background-color: #0081a7;
  color: #fed9b7;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* Updated from 0px 2px 4px */
  transition: transform 0.2s ease;
  cursor: pointer;
}

.intrest h5:hover {
  transform: scale(1.05);
}

/* Education Section */
.education {
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: #fed9b7;
  border-radius: 10px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #f07167;
}

.education-content {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  width: 100%;
  max-width: 1000px;
}

.education-description {
  width: 60%;
  font-size: 1.15rem;
  color: #fed9b7;
  text-align: justify;
}

.education-details {
  width: 50%;
  text-align: left;
  margin-left: 180px;
}

.years {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00afb9;
  margin-bottom: 20px;
}

.education-info h3 {
  margin: 0;
  color: #f07167;
  font-weight: bold;
  font-size: 1.25rem;
}

.education-info p {
  margin: 5px 0 15px;
  color: #00afb9;
  font-size: 1rem;
}

/* Skills section */
.skills {
  width: 100%;
  padding: 0px 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills_head {
  width: 100%;
  margin-bottom: 100px;
  display: grid;
  place-items: center;
  text-align: center;
}

.skills_head h2 {
  font-size: 30px;
  margin-bottom: -5px;
  color: #fed9b7;
}

.skills_head h2 span {
  color: #f07167;
}

.skills_main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}

.skills_main .skill_bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: #fed9b7;
}

.skill_bar .info p:nth-child(2) {
  font-weight: 500;
}

.skill_bar .bar {
  width: 100%;
  height: 10px;
  background-color: #fed9b7;
  border-radius: 25px;
  margin-top: 5px;
  position: relative;
}

.skill_bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #00afb9;
  border-radius: 25px;
}

.skill_bar .bar .html {
  width: 90%;
  animation: html 2s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

.skill_bar .bar .css {
  width: 85%;
  animation: css 2s;
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

.skill_bar .bar .js {
  width: 80%;
  animation: js 2s;
}

@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.skill_bar .bar .react {
  width: 75%;
  animation: react 2s;
}

@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

.skill_bar .bar .django {
  width: 70%;
  animation: django 2s;
}

@keyframes django {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

.skill_bar .bar .java {
  width: 65%;
  animation: java 2s;
}

@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

.skill_bar .bar .python {
  width: 65%;
  animation: python 2s;
}

@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

/* Project section */
.project {
  padding: 2rem;
  color: #f4f3ee;
  text-align: center;
}

.project-item {
  background-color: #f4f3ee;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #001219;
}

.project-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.project h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #e0afa0;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
}

/* Contact me section */
#personal_details {
  margin-left: 2%;
  padding: 3.125rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 37.5rem;
  margin-right: auto;
  margin-top: 2%;
}

#personal_details div {
  margin-bottom: 1.25rem;
}

#personal_details i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
  vertical-align: middle;
}

#personal_details h2 {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

#personal_details p {
  margin-top: 0.3125rem;
  color: #8a817c;
  padding-left: 2.125rem;
}

#personal_details a {
  margin-top: 0.3125rem;
  color: #8a817c;
  padding-left: 2.125rem;
  text-decoration: none;
}

#personal_details a:hover {
  text-decoration: underline;
}

.contact {
  padding: 1.25rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 37.5rem;
  margin-left: auto;
  margin-top: -25%;
}

#btn {
  background-color: #e0afa0;
  color: #001219;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

#btn:hover {
  background-color: #8a817c;
}

.contact h1 {
  color: #e0afa0;
  margin-bottom: 1.25rem;
  text-align: center;
}

.contact p {
  color: #bcb8b1;
  margin-bottom: 0.9375rem;
  text-align: center;
}

.contact-form .form-row {
  display: flex;
  justify-content: space-between;
}

#msg {
  color: #e0afa0;
  margin-bottom: 0.3125rem;
  flex: 1;
}

.contact-form label {
  color: #e0afa0;
  margin-bottom: 0.3125rem;
  flex: 1;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 48%;
  padding: 0.625rem;
  border: 0.0625rem solid #8a817c;
  border-radius: 0.25rem;
  background-color: #bcb8b1;
  color: #001219;
}

.contact-form textarea {
  width: 100%;
  padding: 0.625rem;
  border: 0.0625rem solid #8a817c;
  border-radius: 0.25rem;
  background-color: #bcb8b1;
  color: #001219;
  margin-bottom: 0;
}

/* Footer section */
.footer {
  width: 100%;
  background-color: #001219;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10%;
}

.footer_content {
  text-align: center;
  color: #fed9b7;
}

.social_icons {
  margin-bottom: 1.25rem;
}

.social_icons i {
  font-size: 1.875rem;
  color: #fed9b7;
  margin: 0 0.625rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social_icons i:hover {
  color: #f07167;
  transform: scale(1.2);
  cursor: pointer;
}

.footer p {
  font-size: 1rem;
  margin: 0;
  padding: 0.625rem 0;
}

hr {
  border: 0;
  border-top: 1px solid #f07167;
  margin: 20px 0;
  width: 100%;
}

/* Media queries */
@media screen and (max-width: 455px) {
  /* nav bars and main section */
  .elements {
    display: none;
  }
  .me-text p {
    font-size: 1.5rem;
  }
  .me-text h2 {
    font-size: large;
  }
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
  }
  #forImage {
    height: 12rem;
    width: 12rem;
    margin-left: 0;
  }
  .about p {
    width: 100%;
    font-size: 1rem;
  }

  /* biography section */
  .biography {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }
  #bioImage {
    height: 12rem;
    width: 12rem;
    margin-left: 0;
  }
  .biography h2 {
    font-size: large;
    text-align: center;
  }
  .bio-content {
    width: 100%;
  }
  .bio-content p {
    font-size: 1rem;
    padding: 0;
  }

  /* inteest section*/
  .intrest {
    align-items: center;
    width: 20rem;
    height: 9rem;
  }
  .intrest h5 {
    width: 99.8px;
  }

  /* education section */
  .education {
    width: 100%;
    display: block;
  }
  .education h1 {
    text-align: center;
    align-items: center;
    font-size: large;
  }
  .education-content {
    display: inline;
  }
  .education-content p {
    width: 100%;
  }

  .years {
    text-align: center;
  }
  .education-details {
    display: inline;
  }

  .education-description {
    display: inline;
    width: 100%;
  }

  /* skills section */
  .skills h2 {
    font-size: large;
  }
  .skills_head p {
    font-size: 1rem;
  }
  .skills_head {
    margin-bottom: 0.8rem;
  }
  .skills_main {
    display: inline;
  }

  /* project section */
  .project h2 {
    font-size: large;
  }

  /* contact me section */
  .contact {
    margin-top: 0.8rem;
  }
  .contact h1 {
    font-size: large;
  }
  .contact p {
    font-size: 1rem;
  }
}
